*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: "Lilita One", sans-serif;
}
html {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: "Lilita One", sans-serif;
}
a {
	text-decoration: none;
}
.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-bottom: 70px
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 25px;
	width: 100%;
}
.header__logo {
	display: flex;
	align-items: center;
}
.header__logo-link {
	display: flex;
	align-items: center;
}
.header__logo-image {
	height: 40px;
	transition: transform 0.3s ease;
	&:hover {
		transform: scale(1.1);
	}
}
.header__title {
	font-family: "Poller One", sans-serif;
	margin-left: 10px;
	font-size: 22px;
	text-decoration: none;
	color: #000;
	transition: transform 0.3s ease, color 0.3s ease;
	&:hover {
		transform: scale(1.1);
	}
}
.header__icons {
	display: flex;
	align-items: center;
	gap: 20px;
}
.header__icon-button {
	background: none;
	border: none;
	cursor: pointer;
}
.header__icon {
	height: 25px;
}
.header__menu-toggle {
	display: flex;
	align-items: center;
	background: none;
	border: none;
	cursor: pointer;
}
.header__menu-toggle img {
	height: 25px;
}
.nav {
	z-index: 99;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: -100%;
	width: 300px;
	height: 100%;
	background-color: #fff;
	box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
	padding: 20px;
	transition: right 0.5s ease-in-out;
}
.nav--menu-active {
	right: 0;
}
.nav__link {
	margin: 15px 0;
	text-decoration: none;
	color: #333;
	transition: transform 0.3s ease, color 0.3s ease;
	&:hover {
		transform: scale(1.1);
	}
}
.nav__close-button {
	align-self: flex-end;
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	margin-bottom: 20px;
	&:hover {
		color: #f2f2f2;
	}
}
.header__menu-toggle--active {
	transform: rotate(90deg);
	transition: transform 0.3s ease;
}
.movie {
    margin: 0 auto;
    max-width: 1200px;
    padding: 16px;
    &__banner {
        width: 100%;
        height: auto;
        margin-bottom: 24px;
        .movie__banner-image {
            width: 100%;
            height: auto;
            object-fit: cover; /* Mantiene las proporciones de la imagen */
            height: 300px; /* Limita la altura del banner */
        }
    }
	&__details img {
		border-radius: 15px;
	}
    &__details {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        .movie__poster {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
        }
        .movie__info {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
            margin-top: 16px;
            h1 {
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 16px;
            }
            p {
                margin: 8px 0;
                font-size: 1rem;
            }
        }
    }
    &__schedule {
		display: flex;
		flex-direction: column;
        margin-top: 50px;
        h2 {
            font-size: 1.5rem;
            margin-bottom: 16px;
        }
        .movie__cinema-select {
            width: 100%;
            max-width: 300px;
            padding: 8px;
            margin-bottom: 16px;
            border-radius: 10px;
        }
        .movie__schedule-warning {
            font-size: 1rem;
            color: #666;
        }
    }
}
.footer {
	color: #000;
	text-align: center;
	margin-top: auto;
}
.footer__top {
	background-color: #000;
	color: #fff;
	padding: 10px;
	border-radius: 100px;
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	position: fixed;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	z-index: 100;
	transition: none; // Elimina transiciones para evitar animaciones extrañas
  }
  
  
.footer__options {
	display: flex;
	justify-content: center;
	gap: 60px;
}
.footer__option-text {
	display: none;
}
.footer__option {
	display: flex;
	align-items: center;
	gap: 5px;
	transition: transform 0.3s ease, color 0.3s ease;
	&:hover {
		transform: scale(1.1);
		color: #f2f2f2;
	}
}
.footer__option-image {
	height: 40px;
	width: 40px;
}
.footer__option-image1 {
	height: 40px;
	width: 40px;
}
.footer__option-image2 {
	height: 40px;
	width: 47px;
}
.footer__bottom-new {
	background-color: #fff;
	color: #000;
	padding: 10px;
}
.footer__nav {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding-top: 15px;
}
.footer__nav-link {
	text-decoration: none;
	color: #000;
}
.footer__logo {
	height: 50px;
	margin-top: 15px;
}
@media screen and (min-width: 768px) {
	.header {
		flex-direction: row;
		justify-content: space-evenly;
		gap: -90px;
	}
	.header__title {
		margin-left: 45px;
		font-size: 27px;
	}
	.header__logo-image {
		transition: transform 0.3s ease;
		width: 50px;
		height: 55px;
		&:hover {
			transform: scale(1.1);
		}
	}
	.main {
		padding-bottom: 55px
	}
	.nav {
		top: 80px;
		display: flex;
		position: static;
		flex-direction: row;
		background: none;
		box-shadow: none;
		padding: 0;
		width: auto;
		height: auto;
		gap: 20px;
	}
    /* Media Queries */
    @media (min-width: 768px) {
        .movie__details {
            flex-direction: row;
            align-items: flex-start;
    
            .movie__poster {
                flex: 1;
                max-width: 400px;
            }
    
            .movie__info {
                flex: 2;
                margin-left: 32px;
            }
        }
    }
    
    
    
	.footer__options {
		gap: 100px;
	}
	.header__menu-toggle {
		display: none;
	}
	.nav__link {
		margin: 0;
		text-decoration: none;
		color: #000;
		font-size: 20px;
	}
	.nav__close-button {
		display: none;
	}
	.footer__top {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0px;
		padding-right: 0px;
		max-width: 1400px;
	}
	.footer__logo {
		height: 40px;
	}
	.footer__option-text {
		display: inline;
		text-decoration: none;
		color: #fff;
		font-size: 22px;
	}
	.footer__option-image,
	.footer__option-image1,
	.footer__option-image2 {
		display: none;
	}
}