* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poller One", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Poller One", sans-serif;
}

html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Poller One", sans-serif;
}

a {
    text-decoration: none;
}

.main {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 70px
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    width: 100%;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-link {
    display: flex;
    align-items: center;
}

.header__logo-image {
    height: 40px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.header__title {
    font-family: "Poller One", sans-serif;
    margin-left: 10px;
    font-size: 22px;
    text-decoration: none;
    color: #000;
    transition: transform 0.3s ease, color 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.header__icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.header__icon {
    height: 25px;
}

.header__menu-toggle {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.header__menu-toggle img {
    height: 25px;
}

.nav {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.5s ease-in-out;
}

.nav--menu-active {
    right: 0;
}

.nav__link {
    margin: 15px 0;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease, color 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.nav__close-button {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 20px;

    &:hover {
        color: #f2f2f2;
    }
}

.header__menu-toggle--active {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}









.resumen-compra {
    width: 100%;
}

.resumen-compra__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.resumen-compra__hora {
    font-size: 14px;
    color: #b5b5b5;
}

.resumen-compra__imagen {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.resumen-compra__titulo {
    font-size: 24px;
    margin-bottom: 10px;
}

.resumen-compra__info {
    font-size: 14px;
    color: #b5b5b5;
    margin-bottom: 20px;
}

.resumen-compra__detalle {

    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.resumen-compra__detalle p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.resumen-compra__total {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-top: 10px;
}

.resumen-compra__boton {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #00aaff;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resumen-compra__boton:hover {
    background-color: #0088cc;
}

.resumen-compra__cupon {
    margin: 20px 0;
}

.resumen-compra__cupon input {
    width: calc(100% - 80px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.resumen-compra__cupon button {
    padding: 10px 15px;
    background-color: #00aaff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resumen-compra__cupon button:hover {
    background-color: #007BFF;
}

.resumen-compra__footer {
    text-align: center;
    font-size: 12px;
    color: #b5b5b5;
    margin-top: 20px;
}



.resumen-compra__infoCont {
    padding: 20px;
}

.resumen-compra__contenido {
    padding: 20px;
}

.resumen-compra__dato {
    padding: 0.5rem;
}

































.footer {
    color: #000;
    text-align: center;
    margin-top: auto;
}

.footer__top {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 100px;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 100;
    transition: none; // Elimina transiciones para evitar animaciones extrañas
}


.footer__options {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.footer__option-text {
    display: none;
}

.footer__option {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: transform 0.3s ease, color 0.3s ease;

    &:hover {
        transform: scale(1.1);
        color: #f2f2f2;
    }
}

.footer__option-image {
    height: 40px;
    width: 40px;
}

.footer__option-image1 {
    height: 40px;
    width: 40px;
}

.footer__option-image2 {
    height: 40px;
    width: 47px;
}

.footer__bottom-new {
    background-color: #fff;
    color: #000;
    padding: 10px;
}

.footer__nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 15px;
}

.footer__nav-link {
    text-decoration: none;
    color: #000;
}

.footer__logo {
    height: 50px;
    margin-top: 15px;
}

@media screen and (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-evenly;
        gap: -90px;
    }

    .header__title {
        margin-left: 45px;
        font-size: 27px;
    }

    .header__logo-image {
        transition: transform 0.3s ease;
        width: 50px;
        height: 55px;

        &:hover {
            transform: scale(1.1);
        }
    }

    .main {

        padding-bottom: 55px
    }

    .nav {
        top: 80px;
        display: flex;
        position: static;
        flex-direction: row;
        background: none;
        box-shadow: none;
        padding: 0;
        width: auto;
        height: auto;
        gap: 20px;
    }

    .footer__options {
        gap: 100px;
    }

    .header__menu-toggle {
        display: none;
    }

    .nav__link {
        margin: 0;
        text-decoration: none;
        color: #000;
        font-size: 20px;
    }

    .nav__close-button {
        display: none;
    }







    .resumen-compra {
        width: 100%;
        align-items: center;
    }

    .resumen-compra__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .resumen-compra__hora {
        font-size: 14px;
        color: #b5b5b5;
    }

    .resumen-compra__imagen {
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .resumen-compra__titulo {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .resumen-compra__info {
        font-size: 14px;
        color: #b5b5b5;
        margin-bottom: 20px;
    }

    .resumen-compra__detalle {

        padding: 10px 15px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .resumen-compra__detalle p {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .resumen-compra__total {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
    }

    .resumen-compra__boton {
        display: block;
        width: 100%;
        padding: 15px;
        background-color: #00aaff;
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .resumen-compra__boton:hover {
        background-color: #0088cc;
    }

    .resumen-compra__cupon {
        margin: 20px 0;
    }

    .resumen-compra__cupon input {
        width: calc(100% - 80px);
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
    }

    .resumen-compra__cupon button {
        padding: 10px 15px;
        background-color: #00aaff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .resumen-compra__cupon button:hover {
        background-color: #0088cc;
    }

    .resumen-compra__footer {
        text-align: center;
        font-size: 12px;
        color: #b5b5b5;
        margin-top: 20px;
    }


    .resumen-compra__contenido {
        margin-left: 140px;
        margin-right: 140px;
    }

    .resumen-compra__infoCont {
        gap: 50px;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;

    }
















    .footer__top {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
        max-width: 1400px;
    }

    .footer__logo {
        height: 40px;
    }

    .footer__option-text {
        display: inline;
        text-decoration: none;
        color: #fff;
        font-size: 22px;
    }

    .footer__option-image,
    .footer__option-image1,
    .footer__option-image2 {
        display: none;
    }
}