* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: "Lilita One", sans-serif;
}
html {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: "Lilita One", sans-serif;
}
a {
	text-decoration: none;
}
.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-bottom: 70px
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 25px;
	width: 100%;
}
.header__logo {
	display: flex;
	align-items: center;
}
.header__logo-link {
	display: flex;
	align-items: center;
}
.header__logo-image {
	height: 40px;
	transition: transform 0.3s ease;
	&:hover {
		transform: scale(1.1);
	}
}
.header__title {
	font-family: "Poller One", sans-serif;
	margin-left: 10px;
	font-size: 22px;
	text-decoration: none;
	color: #000;
	transition: transform 0.3s ease, color 0.3s ease;
	&:hover {
		transform: scale(1.1);
	}
}
.header__icons {
	display: flex;
	align-items: center;
	gap: 20px;
}
.header__icon-button {
	background: none;
	border: none;
	cursor: pointer;
}
.header__icon {
	height: 25px;
}
.header__menu-toggle {
	display: flex;
	align-items: center;
	background: none;
	border: none;
	cursor: pointer;
}
.header__menu-toggle img {
	height: 25px;
}
.nav {
	display: flex;
    z-index: 99;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: -100%;
	width: 300px;
	height: 100%;
	background-color: #fff;
	box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
	padding: 20px;
	transition: right 0.5s ease-in-out;
}
.nav--menu-active {
	right: 0;
}
.nav__link {
	margin: 15px 0;
	text-decoration: none;
	color: #333;
	transition: transform 0.3s ease, color 0.3s ease;
	&:hover {
		transform: scale(1.1);
	}
}
.nav__close-button {
	align-self: flex-end;
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	margin-bottom: 20px;
	&:hover {
		color: #f2f2f2;
	}
}
.header__menu-toggle--active {
	transform: rotate(90deg);
	transition: transform 0.3s ease;
}














//PARTE PELICULA EXACTA
.movie-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background-image: url('path-to-your-background-image.jpg');
    background-size: cover;
    background-position: center;
    padding: 40px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    position: relative;
}

.movie-header__logo-image {
    height: 60px;
}

.movie-header__details {
    text-align: right;
    max-width: 60%;
}

.movie-header__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.movie-header__session-info {
    font-size: 16px;
    color: #000000;
}

.cinema {
    display: block;
    font-weight: bold;
}

.session-time {
    margin-top: 5px;
}

.movie-header__logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

























//SALA Y SELECCION DE ASIENTOS
.seating-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#back-btn {
    display: none;
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

h1 {
    text-align: center;
}

.status-legends {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.legend {
    font-size: 14px;
}

.selected {
    background-color: #4caf50;
    padding: 5px 10px;
}

.unavailable {
    background-color: #9e9e9e;
    padding: 5px 10px;
}

.wheelchair {
    background-color: #2196f3;
    padding: 5px 10px;
}

.accompanied {
    background-color: #ff9800;
    padding: 5px 10px;
}

.blocked {
    background-color: #f44336;
    padding: 5px 10px;
}

.screen {
    text-align: center;
    margin-bottom: 20px;
}

.seating-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.label {
    margin-right: 15px;
    font-size: 18px;
    font-weight: bold;
}

.seats {
    display: flex;
    gap: 10px;
}

.seat {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.seat.available { background-color: #4caf50; }
.seat.selected { background-color: #ffeb3b; }
.seat.unavailable { background-color: #9e9e9e; }
.seat.wheelchair { background-color: #2196f3; }
.seat.accompanied { background-color: #ff9800; }
.seat.blocked { background-color: #f44336; }

.seat:hover {
    transform: scale(1.1);
}

#selected-seats {
    margin-top: 30px;
    font-size: 18px;
    color: #000000;
}

#seats-list {
    list-style: none;
    padding: 0;
}




































.footer {
	color: #000;
	text-align: center;
	margin-top: auto;
}
.footer__top {
	background-color: #000;
	color: #fff;
	padding: 10px;
	border-radius: 100px;
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	position: fixed;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	z-index: 100;
	transition: none; // Elimina transiciones para evitar animaciones extrañas
  }
  
  
.footer__options {
	display: flex;
	justify-content: center;
	gap: 60px;
}
.footer__option-text {
	display: none;
}
.footer__option {
	display: flex;
	align-items: center;
	gap: 5px;
	transition: transform 0.3s ease, color 0.3s ease;
	&:hover {
		transform: scale(1.1);
		color: #f2f2f2;
	}
}
.footer__option-image {
	height: 40px;
	width: 40px;
}
.footer__option-image1 {
	height: 40px;
	width: 40px;
}
.footer__option-image2 {
	height: 40px;
	width: 47px;
}
.footer__bottom-new {
	background-color: #fff;
	color: #000;
	padding: 10px;
}
.footer__nav {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding-top: 15px;
}
.footer__nav-link {
	text-decoration: none;
	color: #000;
}
.footer__logo {
	height: 50px;
	margin-top: 15px;
}
@media screen and (min-width: 768px) {
	.header {
		flex-direction: row;
		justify-content: space-evenly;
		gap: -90px;
	}
	.header__title {
		margin-left: 45px;
		font-size: 27px;
	}
	.header__logo-image {
		transition: transform 0.3s ease;
		width: 50px;
		height: 55px;
		&:hover {
			transform: scale(1.1);
		}
	}
	.main {

		padding-bottom: 55px
	}
	.nav {

		top: 80px;
		display: flex;
		position: static;
		flex-direction: row;
		background: none;
		box-shadow: none;
		padding: 0;
		width: auto;
		height: auto;
		gap: 20px;
	}
	.footer__options {
		gap: 100px;
	}
	.header__menu-toggle {
		display: none;
	}
	.nav__link {
		margin: 0;
		text-decoration: none;
		color: #000;
		font-size: 20px;
	}
	.nav__close-button {
		display: none;
	}
	.footer__top {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0px;
		padding-right: 0px;
		max-width: 1400px;
	}
	.footer__logo {
		height: 40px;
	}
	.footer__option-text {
		display: inline;
		text-decoration: none;
		color: #fff;
		font-size: 22px;
	}
	.footer__option-image,
	.footer__option-image1,
	.footer__option-image2 {
		display: none;
	}
}
